<header class="header">
    <div class="header__top">
        <div class="header__top__logo">
            <a href="{{ routes.root_url}}" class="header__top__logo__link">
                <img src="//cdn.shopify.com/s/files/1/1891/6405/files/QualityFood_Horizontal_small_500x500.png?v=1577004579" srcset="//cdn.shopify.com/s/files/1/1891/6405/files/QualityFood_Horizontal_small_500x500.png?v=1577004579 1x, //cdn.shopify.com/s/files/1/1891/6405/files/QualityFood_Horizontal_small_500x500@2x.png?v=1577004579 2x" alt="QualityFood">
            </a>
        </div>
        <div class="header__top__search">
            <input type="search" class="input input-search">
            <button class="btn btn__accent ">
                <svg t="1651631796155" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2087"><path d="M430.72 782.4C229.44 782.4 66.272 622.08 66.272 424 66.272 225.92 229.44 65.28 430.72 65.28 632 65.28 795.2 225.92 795.2 424 795.2 622.08 632 782.4 430.72 782.4L430.72 782.4ZM1014.016 968 749.728 707.84C818.912 632.64 861.44 533.44 861.44 424 861.44 189.76 668.608 0 430.72 0 192.832 0 0 189.76 0 424 0 657.92 192.832 847.68 430.72 847.68 533.504 847.68 627.776 812.16 701.824 752.96L967.168 1014.08C980.128 1026.88 1001.088 1026.88 1014.016 1014.08 1026.976 1001.6 1026.976 980.8 1014.016 968L1014.016 968Z" p-id="2088"></path></svg>
            </button>
        </div>
        <div class="header__top__buttons">
            <button class="btn btn__solid dropdown-menu header__top__buttons__lang">
                <img class="header__top__buttons__lang__img" src="{{ 'china.png' | asset_url }}" alt="language" loading="lazy">
                <span>English</span>
                <svg t="1651654164759" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2878"><path d="M724.48 521.728c-1.8432 7.7824-5.7344 14.848-11.3664 20.48l-341.9136 342.016c-16.6912 16.6912-43.7248 16.6912-60.3136 0s-16.6912-43.7248 0-60.3136L622.6944 512 310.8864 200.0896c-16.6912-16.6912-16.6912-43.7248 0-60.3136 16.6912-16.6912 43.7248-16.6912 60.3136 0l341.9136 341.9136c10.8544 10.8544 14.6432 26.112 11.3664 40.0384z"></path></svg>
                <ul class="dropdown-list">
                    <li class="dropdown-item">Chinese</li>
                    <li class="dropdown-item">Spanish</li>
                </ul>
            </button>
            <button class="btn btn__secondary header__top__buttons__cart">
                <svg  class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6800" ><path d="M742.1 890.2m-70 0a70 70 0 1 0 140 0 70 70 0 1 0-140 0Z" p-id="6801"></path><path d="M438.7 890.2m-70 0a70 70 0 1 0 140 0 70 70 0 1 0-140 0Z" p-id="6802"></path><path d="M829.8 729.4H392.9c-39.1 0-72.3-28-78.9-66.5l-88.6-519.1h-121c-22.1 0-40-17.9-40-40s17.9-40 40-40h121c39.1 0 72.3 28 78.9 66.5l88.6 519.1h436.9c22.1 0 40 17.9 40 40s-17.9 40-40 40z" p-id="6803"></path><path d="M536.4 561.4c-20.9 0-38.5-16.2-39.9-37.4-1.4-22 15.3-41.1 37.3-42.5l301.9-19.8 43.8-224.2H454.9c-22.1 0-40-17.9-40-40s17.9-40 40-40h424.6c24 0 46.5 10.6 61.8 29.1 15.3 18.5 21.4 42.7 16.8 66.2L914.3 477c-6.9 35.3-36.8 61.8-72.7 64.4h-0.3l-302.2 19.8c-0.9 0.2-1.8 0.2-2.7 0.2z m343.3-323.9z" p-id="6804"></path></svg>
                <span>AED 19.12</span>
                <div class="header__top__buttons__cart__badge">3</div>
            </button>
        </div>
    </div>
    <nav class="navbar">
        <div class="navbar__item">
            <div class="navbar__item__link">
                <span>Shopi Groceries</span>
                <svg  class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7594" ><path d="M948.560332 281.179984c-13.765515-13.833053-36.127825-13.833053-49.89334 0L511.991302 668.591431 125.313565 281.179984c-13.763468-13.798261-36.093033-13.798261-49.856501 0-13.799284 13.798261-13.799284 36.161594 0 49.993624l410.857439 411.674037c7.067976 7.085372 16.402575 10.521634 25.675776 10.331299 9.274224 0.191358 18.608823-3.245927 25.677822-10.331299l410.891208-411.708829c6.863315-6.89913 10.331299-15.940041 10.331299-24.979928S955.423647 288.078091 948.560332 281.179984z" p-id="7595"></path></svg>
            </div>
            <ul class="navbar__item__menus">
                <li class="navbar__item__menus__item menu-item">
                    Shopi Groceries
                    <svg t="1651654164759" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2878"><path d="M724.48 521.728c-1.8432 7.7824-5.7344 14.848-11.3664 20.48l-341.9136 342.016c-16.6912 16.6912-43.7248 16.6912-60.3136 0s-16.6912-43.7248 0-60.3136L622.6944 512 310.8864 200.0896c-16.6912-16.6912-16.6912-43.7248 0-60.3136 16.6912-16.6912 43.7248-16.6912 60.3136 0l341.9136 341.9136c10.8544 10.8544 14.6432 26.112 11.3664 40.0384z"></path></svg>
                   
                </li>
                <li class="navbar__item__menus__item menu-item">
                    Fish Groceries
                    <svg t="1651654164759" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2878"><path d="M724.48 521.728c-1.8432 7.7824-5.7344 14.848-11.3664 20.48l-341.9136 342.016c-16.6912 16.6912-43.7248 16.6912-60.3136 0s-16.6912-43.7248 0-60.3136L622.6944 512 310.8864 200.0896c-16.6912-16.6912-16.6912-43.7248 0-60.3136 16.6912-16.6912 43.7248-16.6912 60.3136 0l341.9136 341.9136c10.8544 10.8544 14.6432 26.112 11.3664 40.0384z"></path></svg>
                    <ul class="navbar__item__menus__item__first-menus">
                        <li class="menu-item navbar__item__menus__item__first-menus__item">
                            Fish Groceries
                            <svg t="1651654164759" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2878"><path d="M724.48 521.728c-1.8432 7.7824-5.7344 14.848-11.3664 20.48l-341.9136 342.016c-16.6912 16.6912-43.7248 16.6912-60.3136 0s-16.6912-43.7248 0-60.3136L622.6944 512 310.8864 200.0896c-16.6912-16.6912-16.6912-43.7248 0-60.3136 16.6912-16.6912 43.7248-16.6912 60.3136 0l341.9136 341.9136c10.8544 10.8544 14.6432 26.112 11.3664 40.0384z"></path></svg>
                        </li>
                        <li class="menu-item navbar__item__menus__item__first-menus__item">
                            Fish Groceries
                            <svg t="1651654164759" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2878"><path d="M724.48 521.728c-1.8432 7.7824-5.7344 14.848-11.3664 20.48l-341.9136 342.016c-16.6912 16.6912-43.7248 16.6912-60.3136 0s-16.6912-43.7248 0-60.3136L622.6944 512 310.8864 200.0896c-16.6912-16.6912-16.6912-43.7248 0-60.3136 16.6912-16.6912 43.7248-16.6912 60.3136 0l341.9136 341.9136c10.8544 10.8544 14.6432 26.112 11.3664 40.0384z"></path></svg>
                            <ul class="navbar__item__menus__item__second-menus">
                                <li class="menu-item">
                                    Fish Groceries
                                </li>
                                <li class="menu-item">
                                    Fish Groceries
                                </li>
                                <li class="menu-item">
                                    Fish Groceries
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            Fish Groceries
                            <svg t="1651654164759" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2878"><path d="M724.48 521.728c-1.8432 7.7824-5.7344 14.848-11.3664 20.48l-341.9136 342.016c-16.6912 16.6912-43.7248 16.6912-60.3136 0s-16.6912-43.7248 0-60.3136L622.6944 512 310.8864 200.0896c-16.6912-16.6912-16.6912-43.7248 0-60.3136 16.6912-16.6912 43.7248-16.6912 60.3136 0l341.9136 341.9136c10.8544 10.8544 14.6432 26.112 11.3664 40.0384z"></path></svg>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item__menus__item menu-item">
                    Food Shopi Groceries
                    <svg t="1651654164759" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2878"><path d="M724.48 521.728c-1.8432 7.7824-5.7344 14.848-11.3664 20.48l-341.9136 342.016c-16.6912 16.6912-43.7248 16.6912-60.3136 0s-16.6912-43.7248 0-60.3136L622.6944 512 310.8864 200.0896c-16.6912-16.6912-16.6912-43.7248 0-60.3136 16.6912-16.6912 43.7248-16.6912 60.3136 0l341.9136 341.9136c10.8544 10.8544 14.6432 26.112 11.3664 40.0384z"></path></svg>
                </li>
          
            </ul>
        </div>
        <div class="navbar__item">
            <div class="navbar__item__link">
                <span>Shopi Groceries</span>
                <svg  class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7594" ><path d="M948.560332 281.179984c-13.765515-13.833053-36.127825-13.833053-49.89334 0L511.991302 668.591431 125.313565 281.179984c-13.763468-13.798261-36.093033-13.798261-49.856501 0-13.799284 13.798261-13.799284 36.161594 0 49.993624l410.857439 411.674037c7.067976 7.085372 16.402575 10.521634 25.675776 10.331299 9.274224 0.191358 18.608823-3.245927 25.677822-10.331299l410.891208-411.708829c6.863315-6.89913 10.331299-15.940041 10.331299-24.979928S955.423647 288.078091 948.560332 281.179984z" p-id="7595"></path></svg>
            </div>
        </div>
        <div class="navbar__item">
            <div class="navbar__item__link">
                <span>Shopi Groceries</span>
                <svg  class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7594" ><path d="M948.560332 281.179984c-13.765515-13.833053-36.127825-13.833053-49.89334 0L511.991302 668.591431 125.313565 281.179984c-13.763468-13.798261-36.093033-13.798261-49.856501 0-13.799284 13.798261-13.799284 36.161594 0 49.993624l410.857439 411.674037c7.067976 7.085372 16.402575 10.521634 25.675776 10.331299 9.274224 0.191358 18.608823-3.245927 25.677822-10.331299l410.891208-411.708829c6.863315-6.89913 10.331299-15.940041 10.331299-24.979928S955.423647 288.078091 948.560332 281.179984z" p-id="7595"></path></svg>
            </div>
        </div>
        <div class="navbar__item">
            <div class="navbar__item__link">
                <span>Shopi Groceries</span>
                <svg  class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7594" ><path d="M948.560332 281.179984c-13.765515-13.833053-36.127825-13.833053-49.89334 0L511.991302 668.591431 125.313565 281.179984c-13.763468-13.798261-36.093033-13.798261-49.856501 0-13.799284 13.798261-13.799284 36.161594 0 49.993624l410.857439 411.674037c7.067976 7.085372 16.402575 10.521634 25.675776 10.331299 9.274224 0.191358 18.608823-3.245927 25.677822-10.331299l410.891208-411.708829c6.863315-6.89913 10.331299-15.940041 10.331299-24.979928S955.423647 288.078091 948.560332 281.179984z" p-id="7595"></path></svg>
            </div>
        </div>
    </nav>
</header>